---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map(post => ({
    params: {
      slug: post.data.slug
    },
    props: {
      post
    }
  }));
}

const { post } = Astro.props;
const { data } = post;
const { Content } = await render(post);
---

<Layout title={data.title}>
  <section class="page-content">
    <div class="container">
      <Card>
        <a class="btn" href="/">Go Back</a>
        <h2>{data.title}</h2>
        <div>
          Written by <strong>{data.author} </strong> on {new Date(data.date).toLocaleDateString()}
        </div>
        <Content />
      </Card>
    </div>
  </section>
</Layout>