---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tabs from '../components/Tabs.astro';
---

<Layout>
	<Showcase showExtra={true} />
	<Features />
	
	<section class="page-content">
		<div class="container">
			<h2>The HH Medical Staff Office</h2>
			<!-- <p>
				Reach out to the staff member you need to talk to.
			</p> -->
		
			<Tabs headings={['Robert Chappell', 'Jonathan White', 'Megan Leech']} contents={['(256)265-6990', '(256)265-2879', '(256)265-2799']} />

			<h3>Let us know if something need attention</h3>
			<p>
				We are here to help you practice medicine and take care of your patients. We are interested to hear from you if you have any concerns or see opportunities for improving our hospital. Please reach out to us.
			</p>
		</div>
	</section>
</Layout>
